
.App{
  /* margin-top:5%; */
  font-family: 'Cinzel', serif;
  max-width: 800px;
  justify-content: center ;
  margin: auto;
  
}
.title1{
  font-family: 'Press Start 2P', cursive;
  color:rgb(207, 204, 30);
 text-align: center;
 transition: 0.5s;
}
.title1:hover {
  color: #fff;
  text-shadow: 0 0 30px #fff, 0 0 70px #fff, 0 0 50px #fff;
}
img{
  width: 100%;

}